/*
Greyfox Theme for e621
https://gitlab.com/Neq_/GreyfoxTheme
To use this theme, select all the code in this file
and paste it into the text box on e621 found on:
Account > Settings > Advanced > Custom CSS
*/

a:link, a:visited {color: #001088;}

header#top {
  background-image: linear-gradient(to right, darkblue, #979797 80%);
  font-size: 1em;
  padding-top: 10px;
  color: transparent;
  border: 2px outset #bbb;
}

header#top menu {
  background-color: transparent;
  margin-bottom: 15px;
}

header#top menu a {
  color:black;
  background-color: #979797;
} 

header#top menu.main li.current a {
  border: 2px inset #bbb;
  background-color: #868686;
  font-weight: 100;
}

header#top menu li a{
    margin: 1px;
    padding: 6px;
    white-space: nowrap;
    border: 2px outset #bbb;
}

.post-preview.post-status-flagged:not(.mod-queue-preview) img, .post-preview.post-status-pending:not(.mod-queue-preview) img {
  border: 0px solid #979797;
}

body {
  color: #000;
  background: none;
  background-color: #979797;
}

footer#page-footer, div#page, div#c-users div#a-show .profile-stats, .box-section, .simple_form, article.post-preview .desc, div#c-posts .source-link:hover a
{background-color: #979797;}

div#page {
  background-image: none;
}

div#c-posts div#a-show .pool-nav, div#c-posts div#a-show .search-seq-nav, div#c-posts div#a-show .set-nav, div#c-posts div.nav-notice, .comment-post-grid, .comment-post-grid .author-info, posts div#a-show .set-nav, .styled-dtext blockquote, .styled-dtext div.expandable, .styled-dtext pre, div#c-comments div#a-index .comment-post, .button.btn-warn, .button.score-neutral, div#c-wiki-pages #a-new div.notice
{background: #979797;}

.post-preview.post-status-has-children img
{border: 2px solid #006917;}

div#c-posts div.notice.notice-resized, div#c-posts div.notice.notice-pending
{background-color: #979797; border: 1px solid #979797;}

div#c-posts div.notice
{padding: 0em;}

article.post-preview[data-file-ext=webm]>a:before,
article.post-preview[data-tags~=animated]>a:before
{background-color: #fff; border: 0px solid #fff; color: #000; border-radius: 0px;}

.hint {color: #555;font-style: normal;}
p.info {color: #222;}

.score-neutral, span.score-neutral, .score-positive, .score-positive a, span.score-positive, span.score-positive a, article.post-preview.post-rating-questionable .post-score-rating, article.post-preview.post-rating-safe .post-score-rating, .color-muted
{color: #000;}

.score-negative, .score-negative a, span.score-negative, span.score-negative a, article.post-preview.post-rating-explicit .post-score-rating, .post-rating-text-explicit
{color: #730000;}

table.striped tbody tr, table.table tbody tr {background-color: #979797; border-bottom: 3px ridge #bbb;}
table.striped thead tr, table.table thead tr {background-color: #757575; border-bottom: 0px solid #152f56;}

div#notice, div#c-posts div#a-show #edit .edit-submit {
  background-color: #008080;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1.5px 1.5px 2px black;
  margin-top: 20%;
  border: 3px outset #ccc;
  box-shadow: 4px 4px 4px #0009;
  font-size: large;
  padding: 10px;
}

div#c-comments div#a-index .comment-post {border-left: #979797;}
span.link {color: #001088;}

.button.btn-neutral {color: #fff; background: #979797;}
.button.btn-success {color: #000;background: #45884c;}

div#c-posts div.notice.notice-parent {background-color: #a7a7a7;border: 0px;}

.styled-dtext blockquote, .styled-dtext div.expandable, .styled-dtext pre {border: 3px outset #bbb; border-left-color: #bbb;}
.comment-post-grid {border:3px ridge #bbb;}

.button {
    border: 2px outset #aaa;
    border-radius: 0px;
}

div#c-posts div.notice.notice-child {
    background-color: #979797;
    border: none;
}

footer#page-footer {
    border-radius: 0px;
    border-top: 3px ridge #bbb;
}

div.related-tags, div.related-tags .tag-active {background: #ccc;}
div#c-post-versions div#a-index .pv-label, div#c-post-versions div#a-index .pv-check {background: #868686;}

div#c-moderator-dashboards div#col2 .feedback-category-negative, div#c-user-feedbacks .feedback-category-negative {
    background: #946464;
}

div#c-moderator-dashboards div#col2 .feedback-category-positive, div#c-user-feedbacks .feedback-category-positive {
    background: #a2d6a2;
}

.button.btn-danger {background:#006400;}
.ui-widget.ui-widget-content {
    background-color: #ccc;
    border: 2px outset #ccc;
    box-shadow: 3px 3px 5px #000;
}

.ui-widget-header {
    background-color: #008;
}

.ui-corner-all {
border-radius: 0px;
}

a#close-notice-link {
  position: sticky;
  left: 75%;
  text-shadow: none;
  text-decoration: underline;
}
